In [1]:
import pandas as pd
from qdrant_client import QdrantClient
from pathlib import Path

In [2]:
path = Path.cwd().parent.parent / "cache" / "qdrant_storage"
client = QdrantClient(path=str(path))
client.get_collections()

CollectionsResponse(collections=[CollectionDescription(name='fetaqa_tables'), CollectionDescription(name='table_retrieval:fetaqa,sentence_transformer'), CollectionDescription(name='table_retrieval:spider-validation,sentence_transformer')])

In [3]:
collection_name = client.get_collections().collections[2].name

collection_name

'table_retrieval:spider-validation,sentence_transformer'

In [5]:
collection = client.get_collection(collection_name)
client.scroll(collection_name=collection_name, limit=5,with_vectors=False)

([Record(id='05dc09f1-2d20-43c4-9d62-c83d7a11c4a5', payload={'database_id': 'world_1', 'table_id': 'countrylanguage'}, vector=None, shard_key=None),
  Record(id='09a559b6-0d12-4293-81e1-90e7efd9c64e', payload={'database_id': 'concert_singer', 'table_id': 'concert'}, vector=None, shard_key=None),
  Record(id='09f58dec-510b-4113-bb21-1d427292ab66', payload={'database_id': 'student_transcripts_tracking', 'table_id': 'Transcripts'}, vector=None, shard_key=None),
  Record(id='0ac76dd3-d168-460d-a131-437e005de067', payload={'database_id': 'dog_kennels', 'table_id': 'Professionals'}, vector=None, shard_key=None),
  Record(id='115a6ddc-4452-443a-90ec-c65bac688d64', payload={'database_id': 'dog_kennels', 'table_id': 'Charges'}, vector=None, shard_key=None)],
 '1cab185c-a619-4d33-9c08-14b59fd6ba7e')

In [6]:
client.close()

In [31]:
per_database_count = {}
print(client.scroll(collection_name=collection_name, limit=2)[1])
for point in client.scroll(collection_name=collection_name, limit=10000)[0]:
    db_id = point.payload['database_id']
    if db_id not in per_database_count:
        per_database_count[db_id] = 0
    per_database_count[db_id] += 1

df = pd.DataFrame.from_dict(per_database_count, orient='index', columns=['count']).sort_values(by='count', ascending=False)
df

168f91b2-636f-4359-b9e2-2c7c9b13f75f

                              count
student_transcripts_tracking     11
dog_kennels                       8
cre_Doc_Template_Mgt              4
world_1                           4
employee_hire_evaluation          4
concert_singer                    4
museum_visit                      3
flight_2                          3
battle_death                      3
pets_1                            3
singer                            2
network_1                         1